@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.bg-azul{
    background-color: #5960B2;
}

.bg-azulclaro{
    background-color: #EEEFF9;
}

.bg-branco{
    background-color: #F7F7F7;
}

button{
    background-color: #4CBF96;
    color: #003321;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 600;
    letter-spacing: 0.15rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
}

button:hover{
    background-color: #98cab9;
}

.text-branco{
    color: #E5E8FF;
}

h1{
    font-size: 0.78rem;
    color: #E5E8FF;
    text-transform: uppercase;
    font-family: Lato;
}

h2{
    font-size: 2rem;
    color: #404040;
    font-family: Lato;
}

h3{
    font-size: 1.25rem;
    font-weight: 300;
    color: #0D0D0D;
    text-transform: uppercase;
    font-family: Lato;
    line-height: 1.9rem;
}

h4{
    font-size: 1rem;
    font-weight: bold;
    color: #0D0D0D;
    text-transform: uppercase;
    font-family: Lato;
}

h5{
    font-size: 1.12rem;
    color: #404040;
    font-family: Lato;
}

p{
    font-size: 1rem;
    color: #0D0D0D;
    font-family: EBGaramond;
    line-height: 1.5rem;
}

.ptopo{
    font-size: 1.25rem;
    color: #E5E8FF;
    font-family: EBGaramond;
    line-height: 1.9rem;
}

legend{
    font-size: 0.87rem;
    color: #0D0D0D;
    font-family: Lato;
    font-style: italic;

}

.legendcard{
    font-size: 0.87rem;
    color: #404040;
    font-family: Lato;
}

.nav{
    font-size: 1rem;
    color: #E5E8FF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Lato;
}

.nav:hover{
    color: #bcc0df;
}

.divtopo{
    max-width: 45vw;
}
    

.card{
    max-width: 38vw;
    background-color: #FFFFFF;
    padding: 3rem 4rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5rem 2rem;
    text-align: left;
}

.bdl{
    border-radius: 0 50px 50px 0;
    border-left-width: 1rem;
    border-left-color: rgb(89,96,178);
}

.bdr{
    border-radius: 50px 0 0 50px;
    border-right-width: 1rem;
    border-right-color: rgb(89,96,178);
    text-align: right;
}



.cardequipe{
    max-width: 40rem;
}

.claudia{
    display: flex;
    justify-content: flex-end;
}

.fotoequipe{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 100%;
}

.aligntop{
    align-items: flex-start;
}

.ft{
    font-size: 0.7rem;
}

.logoft{
    width: 100px;
}

.fa{
    font-size: 1.2rem;
}

.fa:hover{
    color: #bcc0df;
}


.redessociaistext{
    font-size: 0.87rem;
    color: #E5E8FF;
    font-family: Lato;
    text-decoration: none;
}

.redessociaistext:hover{
    color: #bcc0df;
}

.yt{
    font-size: 3rem;
    color: #4CBF96;
}

.yt:hover{
    color: #98cab9;
}

.cardeventos{
    max-width: 22rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.lattes{
    color: #5960B2;
    text-decoration: none;
}

.lattes:hover{
    color: #2e358a;
}

.contato{
    font-size: 2rem;
}

.copy{
    font-size: 0.8rem;
    font-family: Lato !important;
    font-weight: 300;
}


@media screen and (max-width: 1000px){
    .divtopo{
    max-width: 80vw;
    text-align: center;
    }

    .card{
    max-width: 80vw;
    min-width: 80vw;
    padding: 2rem !important;
    margin-top: 0 !important;
    }
    
    .bdl, .bdr{
        border-radius: 0 0 10px 10px !important;
        border-top-width: 0.5rem;
        border-top-color: rgb(89,96,178);
        border-left: none;
        border-right: none;
        text-align: left !important;
    }

    #linhasPesquisa{
        padding-top: 2rem;
    }

    .nav {
        display: none;
    }

    .ptopo {
        font-size: 1rem;
        color: #E5E8FF;
        font-family: EBGaramond;
        line-height: 1.5rem;
    }

    #sobrefernando {
        display: none;
    }

    .cardequipe {
        justify-content: center;
        text-align: center;
        padding: 3rem;
    }

    .claudia, .fernando{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
    }

    .logoft{
        display: none;
    }

    .redessociaistext{
        display: none;
    }

    
}
