<!-- Fundo azul -->
<div class="bg-azul p-5">
  <div class="container col-md-11">




    <!-- Barra de navegação -->
    <div class="row d-flex justify-content-between pb-5 mb-5 px-4">
      <div class="row">
        <img src="https://imgur.com/H7bFPjb.png" alt="NIPELL">
      </div>
      <div class="row">
        <a href="" class="nav ml-5">Acervo</a>
        <a href="#linhasPesquisa" class="nav ml-5">Linhas de pesquisa</a>
        <a href="#eventos" class="nav ml-5">Eventos</a>
        <a href="#contato" class="nav ml-5">Contato</a>
      </div>
    </div>
    <!-- Fim da barra de navegação -->




    <!-- Texto do topo -->
    <div class="divtopo mt-5 pt-5">
      <h1 class="mb-3">Núcleo Interdisciplinar de Pesquisas sobre o Ensino de Língua e Literatura</h1>
      <p class="ptopo">O NIPELL congrega pesquisas que tematizam o ensino de língua e literatura na Educação Básica e
        na
        Formação de Professores, observando-se a constituição de processos educativos escolares e não escolares.<br>
        Dada a feição interdisciplinar da temática, os trabalhos desenvolvidos no âmbito do NIPELL mobilizam
        pesquisas
        de abordagem histórica sobre o tema, pesquisas de observação, diagnóstico e intervenção em processos
        escolares e
        análise crítica, teórica e recepcional de obras literárias destinas à infância e à juventude.</p>
      <button href="#index.html" class="mt-3">Nosso acervo</button>
    </div>
    <!-- Fim do texto do topo -->




  </div>
</div>
<!-- Fim do fundo azul -->




<!-- Onda -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-branco">
  <path fill="#5960B2" fill-opacity="1"
    d="M0,160L80,165.3C160,171,320,181,480,176C640,171,800,149,960,128C1120,107,1280,85,1360,74.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
  </path>
</svg>
<!-- Fim da onda -->




<!-- Início do fundo branco -->
<div class="bg-branco px-5">




  <!-- Linhas de pesquisa -->
  <h2 class="text-center mb-5 pb-5" id="linhasPesquisa">Linhas de pesquisa</h2>
  

  <div class="d-flex justify-content-center">
  <div class="container col-md-11 row m-0">


<!-- Card esquerda -->
<div class="col-md-6">
  <div class="card bdl my-5 mx-2">
    <h3>Livros escolares, métodos e práticas de ensino</h3>
    <p class="mt-3">Desenvolver investigações sobre história do livro e das edições didáticas; Problematização
      sobre a história dos
      métodos de ensino; Análise das práticas de escolarização e de letramento escolar; Compreensão dos diferentes
      aspectos envolvidos na constituição e nos modos de circulação e utilização dos livros didáticos como gênero
      específico.</p>
  </div>

  <div class="card bdl my-5 mx-2">
    <h3>Literatura Infantil e Juvenil</h3>
    <p class="mt-3">Investigar aspectos relacionados à produção e à recepção de obras literárias destinas à
      infância e juventude; Contribuir para a formulação de teorias específicas para a literatura infantil e
      juvenil; Produzir uma crítica específica das obras literárias infantis e juvenis; Problematizar aspectos da
      história da literatura infantil brasileira e as características dessa produção, no presente; Compreender as
      relações entre literatura infantil e juvenil, ensino, escolarização e formação de leitores.</p>
  </div>

  <div class="card bdl my-5 mx-2">
    <h3>Alfabetização, Leitura e Escrita</h3>
    <p class="mt-3">Desenvolver estudos e pesquisas relacionadas ao ensino e à aprendizagem inicial da leitura e
      da escrita; compreender aspectos da história da alfabetização no Brasil e da constituição desse campo de
      ensino e pesquisa; investigar a produção de materiais didáticos destinados ao ensino inicial de leitura e
      escrita e a circulação de modelos, saberes e práticas relacionados a esse ensino.</p>
  </div>
</div>
<!-- Fim do card esquerda -->




  <!-- Card direita -->
  <div class="col-md-6">
  <div class="card bdr text-right my-5 mx-2">
    <h3>Livros escolares, métodos e práticas de ensino</h3>
    <p class="mt-3">Desenvolver investigações sobre história do livro e das edições didáticas; Problematização
      sobre a história dos
      métodos de ensino; Análise das práticas de escolarização e de letramento escolar; Compreensão dos diferentes
      aspectos envolvidos na constituição e nos modos de circulação e utilização dos livros didáticos como gênero
      específico.</p>
  </div>

  <div class="card bdr text-right my-5 mx-2">
    <h3>Literatura, Escolarização e Formação de Leitores</h3>
    <p class="mt-3">Compreender as relações escolares entre literatura e ensino (letramento literário/ educação
      literária); Compreender processos não escolares de formação de leitores e promoção da leitura literária;
      Problematizar a produção de materiais didáticos destinados ao ensino de literatura; Analisar políticas
      públicas de incentivo à leitura e de acesso ao texto literário; Investigar os processos históricos de
      implantação da literatura como objeto de conhecimento escolar e como disciplina/matéria de ensino.</p>
  </div>

</div>


  </div>



      
    <!-- Fim do card direita -->


    

  </div>
</div>
<!-- Fim das linhas de pesquisa -->




<!-- Onda -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-branco">
  <path fill="#eeeff9" fill-opacity="1"
    d="M0,288L80,256C160,224,320,160,480,149.3C640,139,800,181,960,197.3C1120,213,1280,203,1360,197.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
  </path>
  <!-- Fim da onda -->




</svg>
<!-- Fim do fundo branco -->




<!-- Fundo azul claro -->
<div class="bg-azulclaro">
  <div class="container col-md-10 pt-5">




    <!-- Sobre os coordenadores -->


    <!-- Fernando -->
    <div class="row aligntop mb-5 py-5">
      <img src="https://imgur.com/M41q9p7.png" alt="Fernando" class="mr-5 fotoequipe">
      <div class="cardequipe">
        <h4>Fernando Rodrigues de Oliveira</h4>
        <legend class="legendcard">Coordenador do NIPELL</legend>
        <p class="my-2 py-0">Professor do Programa de Pós-Graduação em Educação e do Departamento de Educação da Escola
          de Filosofia, Letras e Ciências Humanas (EFLCH) da Universidade Federal de São Paulo (UNIFESP). Doutor em
          Educação pela Faculdade de Filosofia e Ciências (FFC), Universidade Estadual Paulista (UNESP), campus de
          Marília, com estágio de Doutorado Sanduíche (bolsa PDSE-CAPES) junto ao Instituto de Educação da Universidade
          de Lisboa, Portugal; Mestre em Educação pela FFC-UNESP-Marília (2010); graduado em Pedagogia pela
          FFC-UNESP-Marília (2009); graduado em Letras pela Faculdade da Alta Paulista (2006). Líder do NIPELL - Núcleo
          Interdisciplinar de Pesquisas sobre Ensino de Língua e Literatura. Atua, principalmente, com pesquisas de
          abordagem histórica sobre: Literatura infantil e juvenil; Ensino de Língua Portuguesa; Ensino de Literatura;
          Alfabetização, Leitura e Escrita; Currículo e Disciplinas Escolares; Livro, Edições e Métodos e Técnicas de
          Ensino.</p>
        <a href="http://lattes.cnpq.br/7112621592674917" class="m-0 p-0 lattes">Lattes</a>
      </div>
    </div>
    <!-- Fim de Fernando -->


    <!-- Cláudia -->
    <div class="row aligntop d-flex justify-content-end pt-5 mt-5">
      <img src="https://imgur.com/eiam51e.png" alt="Fernando" class="mr-5 fotoequipe">
      <div class="cardequipe">
        <h4>Claudia Lemos Vóvio</h4>
        <legend class="legendcard">Vice-coordenadora do NIPELL</legend>
        <p class="my-2 py-0">Graduada em Pedagogia pela Pontifícia Universidade Católica de São Paulo (1988) , mestre em
          Educação pela
          Faculdade de Educação da Universidade de São Paulo (1999) e doutora em Lingüística Aplicada no Instituto de
          Estudos da Linguagem, Unicamp (2007). É Professora Doutora da Universidade Federal de São Paulo, no curso de
          Pedagogia e no Programa de Pós Graduação Educação e Saúde. Em 2006, ganhou o Prêmio Jabuti na categoria
          material didático com o livro Viver, aprender - Alfabetização de Jovens e Adultos e, em 2007, recebeu o Prêmio
          Crefal outorgado a melhores teses em educação de jovens e adultos. Atua, principalmente, nos seguintes temas:
          educação de jovens e adultos, alfabetização, letramento, formação de educadores e currículo.</p>
        <a href="http://lattes.cnpq.br/6082754427382954" class="m-0 p-0 lattes">Lattes</a>
      </div>
    </div>
    <!-- Fim de Cláudia -->


    <!-- Fim de sobre os coordenadores -->




  </div>
</div>
<!-- Fim do fundo azul claro -->




<!-- Onda -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-branco">
  <path fill="#eeeff9" fill-opacity="1"
    d="M0,160L80,176C160,192,320,224,480,234.7C640,245,800,235,960,234.7C1120,235,1280,245,1360,250.7L1440,256L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
  </path>
</svg>
<!-- Fim da onda -->




<!-- Fundo branco -->
<div class="bg-branco px-5">
  <div class="container col-md-11 pb-5">




    <!-- Eventos -->
    <h2 class="text-center mb-5 pt-5 pb-3" id="eventos">Eventos</h2>
    <div class="d-flex justify-content-center pb-5">
      <div class="row">

        <!-- Evento -->
        <div class="cardeventos text-center m-2">
          <h5 class="pt-5 pb-4 px-4">I Ciclo de Palestras - Contribuições de Roger Chartier para a História da Educação
          </h5>
          <iframe class="embed-responsive" src="https://www.youtube.com/embed/j0KK1cH3qD0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <legend class="legendcard mt-2 pt-5">Assistir agora no Youtube</legend>
          <a href="https://www.youtube.com/watch?v=j0KK1cH3qD0"><i class="yt fa fa-youtube-play pb-3"
              aria-hidden="true"></i></a>
        </div>
        <!-- Fim evento -->


        <!-- Evento -->
        <div class="cardeventos text-center m-2">
          <h5 class="pt-5 pb-4 px-4">I Ciclo de Palestras - Contribuições de Mikhail Bakhtin para a História da Educação
          </h5>
          <iframe class="embed-responsive" src="https://www.youtube.com/embed/l2BXgrJyJfQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <legend class="legendcard mt-2 pt-5">Assistir agora no Youtube</legend>
          <a href="https://www.youtube.com/embed/l2BXgrJyJfQ"><i class="yt fa fa-youtube-play pb-3"
              aria-hidden="true"></i></a>
        </div>
        <!-- Fim evento -->


        <!-- Evento -->
        <div class="cardeventos text-center m-2">
          <h5 class="pt-5 pb-4 px-4">I Ciclo de Palestras - Contribuições de Michel Foucault para a História da Educação
          </h5>
          <iframe class="embed-responsive" src="https://www.youtube.com/embed/mNozh5L4LJk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <legend class="legendcard mt-2 pt-5">Assistir agora no Youtube</legend>
          <a href="https://www.youtube.com/embed/mNozh5L4LJk"><i class="yt fa fa-youtube-play pb-3"
              aria-hidden="true"></i></a>
        </div>
        <!-- Fim evento -->


      </div>
    </div>
    <!-- Fim de eventos -->




    <!-- Contato -->
    <h2 class="text-center mt-5 pt-5 pb-3" id="contato">Contato</h2>
    <h5 class="text-center">nipell.unifesp@gmail.com</h5>
    <p class="text-center mt-4"><a href="https://www.instagram.com/nipell.unifesp/"><i
          class="contato fa fa-instagram lattes" aria-hidden="true"></i></a></p>
    <!-- Fim de contato -->




  </div>
</div>
<!-- Fim do fundo branco -->




<!-- Onda -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-branco">
  <path fill="#5960B2" fill-opacity="1"
    d="M0,0L120,42.7C240,85,480,171,720,213.3C960,256,1200,256,1320,256L1440,256L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
  </path>
</svg>
<!-- Fim da onda -->




<!-- Fundo azul -->
<div class="bg-azul">
  <div class="container col-md-11">




    <!-- Footer -->


    <!-- Barra de navegação -->
    <div class="row d-flex justify-content-between mb-5 px-4">
      <div class="row aligntop">
        <img src="https://imgur.com/H7bFPjb.png" alt="NIPELL" class="logoft">
      </div>
      <div class="row">
        <a href="" class="nav ml-5 ft">Acervo</a>
        <a href="#linhasPesquisa" class="nav ml-5 ft">Linhas de pesquisa</a>
        <a href="#eventos" class="nav ml-5 ft">Eventos</a>
        <a href="#contato" class="nav ml-5 ft">Contato</a>
      </div>
    </div>
    <!-- Fim barra de navegação -->


    <!-- Redes sociais -->
    <div class="col-md-1 no-gutters mx-0 px-0 pb-5">
      <p class="p-0 m-0"><a href="https://www.instagram.com/nipell.unifesp/" class="redessociaistext"><i
            class="fa fa-instagram text-branco" aria-hidden="true"></i>⠀Instagram</a></p>
      <p><a href="https://www.youtube.com/c/NipellUnifesp" class="redessociaistext"><i
            class="fa fa-youtube-play text-branco" aria-hidden="true"></i>⠀Youtube</a></p>
    </div>
    <!-- Fim das redes sociais -->


    <!-- Fim do footer -->




  </div>
</div>
<!-- Fim do fundo azul -->